# Chave da API do Google Gemini
GEMINI_API_KEY=sua_chave_gemini_aqui

# Autenticação Administrativa (/admin)
ADMIN_EMAIL=upsmartbr@gmail.com
ADMIN_PASSWORD=@Risemode22
ADMIN_JWT_SECRET=sua_chave_secreta_jwt_admin_antik

# Supabase - Gestão de Usuários
SUPABASE_URL=https://ezpoytaapskzoueplxxq.supabase.co
SUPABASE_KEY=sua_chave_supabase_aqui
